<!DOCTYPE html>
<html>
<head>
  <title>Universal Search</title>
  <link rel="stylesheet" href="/styles/vendor/normalize.css">
  <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
  <div id="top-hits" class="result-region">
    <ol>
      <li class="result">
          <span class="icon null"></span>
          <span class="icon search-result"></span>
          <span class="result-copy">
            Let's pretend there's a top hit
          </span>
        </li>
    </ol>
  </div>
  <div id="search-suggestions" class="result-region"></div>
  <div id="awesomebar-results" class="result-region"></div>

  <script id="search-suggestions-template" type="text/html">
    <h2 class="result-group-title">Search Suggestions</h2>
    <ol>
      <% terms.forEach(function (term) { %>
        <li class="result">
          <span class="icon null"></span>
          <span class="icon search-result"></span>
          <span class="result-copy">
            <%= term %>
          </span>
        </li>
      <% }); %>
    </ol>
  </script>

  <script id="awesomebar-results-template" type="text/html">
    <h2 class="result-group-title">Bookmarks &amp; History</h2>
    <ol>
      <% results.forEach(function (result, index) { %>
        <% if (index === 0) { %>
          <li class="result active"> 
        <% } else { %>
          <li class="result"> 
        <% } %>
            <span class="icon bookmark"></span>
            <span class="icon favicon"></span>
            <span class="result-copy">
              <% if(result.title) { %>
              <%= result.title %> &mdash; 
              <% } %>
              <span class="url">
                <%= result.url %>
              </span>
            </span>
          </li>
      <% }); %>
    </ol>
  </script>

  <script src="/scripts/vendor/jquery.min.js"></script>
  <script src="/scripts/vendor/lodash.min.js"></script>
  <script src="/scripts/vendor/backbone.min.js"></script>
  <script src="/scripts/main.js"></script>
</body>
</html>
