html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  font-size: 12px;
  font-weight: norgit mal;
  margin: 0;
  user-select: none;
}

body {
  background: #f2f2f2;
}

#searchClient {
  background: linear-gradient(#ebebeb, #dadada);
  border-bottom: 1px solid #B1B1B1;
}

#searchClient #searchField {
  border: none;
  border-bottom: 1px solid #aaa;
  border-radius: 3px;
  font-size: 11px;
  height: 24px;
  margin: 10px;
  padding-left: 47px;
  position: relative;
  width: 80%;
  z-index: 1;
}

#searchClient #searchField:focus {
  box-shadow: 0 0 4px #0394dd;
}

#searchContent {
  border-radius: 2px;
  box-shadow: 0 0 20px rgba(0,0,0,.4);
  height: 429px !important;
  margin-left: 10px;
  position: relative;
  top: -10px;
  width: 80%; 
}
