@import '../../node_modules/node-normalize-scss/normalize';

$color--black: #000;
$color--blue: #1ba4ef;
$color--green: #18a46f;
$color--dark-grey: #666;
$color--grey: #b5b5b5;
$color--light-grey: #f5f5f5;
$color--white: #fff;
$favicon--dimensions: 32px;
$favicon--img-dimensions: 16px;
$icon--dimensions: 16px;
$preview--dimensions: 64px;
$preview--spacing: 6px;
$result--spacing: 3px;
$transition--easing: ease;
$transition--time: 66ms;


@mixin ellipsis($max-width: 100%) {
  // If an item would wrap, instead prevent that wrapping, truncate the
  // content, and add a trailing ellipsis. Optionally include a max-width at
  // which the ellipsis is forced.
  max-width: $max-width;
  overflow-x: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  white-space: nowrap;
}


html {
  box-sizing: border-box;
  font-size: 13px;
  font-weight: normal;
}


*, *:before, *:after {
  box-sizing: inherit;
  -moz-user-select: none;
  user-select: none;
}


body {
  background: $color--white;
  font-family: message-box, sans-serif;
  margin: 0;
  overflow: hidden;
}

.index {
  padding: 5px;
}

ol {
  border-top: solid 1px $color--light-grey;
  list-style: none;
  margin: 0 0 $result--spacing;
  padding: $result--spacing 0 0;

  &:first-child {
    border-top: 0;
    padding-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}


.result {
  align-items: center;
  border: solid 1px transparent;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-weight: 400;
  justify-content: flex-start;
  margin: 0 0 $result--spacing;
  padding: 6px 16px;
  transition: background-color $transition--time $transition--easing,
              border-color $transition--time $transition--easing,
              color ($transition--time / 2) $transition--easing;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    background: $color--light-grey;
    border-color: darken($color--light-grey, 3%);
  }

  &.selected {
    background: $color--blue;
    border-color: darken($color--blue, 3%);
  }

  &.recommended {
    align-items: flex-start;
  }
}


.segments {
  display: flex;
  flex-wrap: wrap;
  line-height: 1.25;

  .recommended & {
    line-height: 1.35;
    position: relative;

    &:before {
      display: none;
    }

    .segment {
      margin: 0;
      width: 100%;

      + .segment:before {
        display: none;
      }
    }
  }
}


.segment {
  display: none;

  .selected & {
    color: $color--white;

    &.title,
    &.action,
    &.url,
    &.abstract,
    + .segment:before{
      color: $color--white;
    }
  }

  // Add an emdash between adjacent segments.
  + .segment:before {
    color: $color--grey;
    content: '\2014';
    margin: 0 5px;
  }

  &.title {
    @include ellipsis(70%);

    .recommended & {
      max-width: 100%;
    }
  }

  &.url {
    color: $color--blue;
    font-size: 12px;
    width: 100%;

    &:before {
      display: none;
    }
  }

  &.action {
    @include ellipsis(30%);
    color: $color--green;
  }

  &.abstract{
    color: $color--dark-grey;
    font-size: 13px;
  }

  &.image {
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 0 1px rgba($color--black, 0.25) inset;
    display: flex;
    flex-shrink: 0;
    height: $preview--dimensions;
    justify-content: center;
    line-height: 0;
    margin: 0 $preview--spacing 0 0;
    max-height: $preview--dimensions;
    overflow: hidden;
    width: $preview--dimensions;

    img {
      object-fit: contain;
      position: relative;
      z-index: -1;
    }

    .result:hover &,
    .result.selected & {
      background: $color--white;

      img {
        z-index: 1;
      }
    }
  }
}


// By default, segments are hidden. Mark them to be displayed here using a
// combination of result type and segment type.
.result.other .segment.title,
.result.other .segment.url,
.result.recommended .segment.title,
.result.recommended .segment.abstract,
.result.recommended .segment.url,
.result.search .segment.title,
.result.favicon .segment.title,
.result.favicon .segment.url,
.result.bookmark .segment.title,
.result.bookmark .segment.url,
.result.action .segment.title,
.result.action .segment.action,
.result.action .segment.url {
  display: block;
}


.icons {
  position: absolute;
  visibility: hidden;
}


.icon {
  background: $color--grey no-repeat;
  background-size: $icon--dimensions;
  display: block;
  flex: 0 0 $icon--dimensions;
  height: $icon--dimensions;
  margin-right: 6px;
  position: relative;
  transition: background-color $transition--time $transition--easing;

  .selected & {
    background-color: $color--white;
  }

  &.favicon {
    background-color: transparent;
  }

  .selected & {
    background-color: $color--white;
  }

  &.type {
    .result.favicon:not(.switchtab) & {
      background-color: transparent;
    }
    .result.bookmark & {
      clip-path: url(#bookmark);
    }
    .result.action & {
      clip-path: url(#switchtab);
    }
    .result.search & {
      background-color: transparent;
    }
    .result.recommended & {
      clip-path: url(#recommended);
      margin-top: 2px;
    }
  }

  &.type {
    align-self: flex-start;
    margin-top: 2px;
  }

  &.favicon {
    background: $color--light-grey;
    border-radius: 5px;
    flex: 0 0 $favicon--dimensions;
    height: $favicon--dimensions;
    overflow: hidden;
    position: relative;
    width: $favicon--dimensions;

    img {
      height: 16px;
      left: 0;
      position: absolute;
      top: 0;
      width: 16px;
    }
  }

  &.preview {
    .search & {
      clip-path: url(#search);
    }
  }
}


.debugger-index {
  background: $color--light-grey;
  border-bottom: 1px solid $color--grey;
  overflow: auto;

  h2 {
    color: $color--dark-grey;
    float: left;
    font-weight: bold;
    padding: 0 10px;
    text-transform: lowercase;
  }

  form {
    margin-top: 5px;

    button {
      background: $color--white;
      border: 1px solid $color--grey;
      border-radius: 3px;
      padding: 4px 6px;

      &:active {
        background: lighten($color--grey, 10%);
      }
    }
  }
}
