$title-grey: #999999;
$white: #ffffff;
$border-grey: #f0f0f0;
$black: #000000;
$url-blue: #0394dd;

$icon-unit: 16px;

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  font-size: 12px;
  font-weight: normal;
  user-select: none;
}

body {
  background: $white;
  font-family: message-box, sans-serif;
  margin: 0;
  padding: 0;
}

.result-region  {
  border-bottom: 1px solid $border-grey;
  margin: 8px 0 0 0s;
  padding: 8px 19px;

  &:first-child {
    margin-top: 8px;
  }

  &:last-child {
    border-bottom: none;
    margin-bottom: 8px;
  }

  .result-group-title {
    color: $black;
    font-weight: bold;
    line-height: 22px;
    margin: 0 0 4px 0;
  }

  ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .result {
    align-items: center;
    border-radius: 2px;
    cursor: pointer;
    display: flex;
    margin: 0 -4px;
    padding: 4px;

    >span[class^="result-"] {
      overflow-x: hidden;
      text-overflow: ellipsis;
      text-wrap: nowrap;
      white-space: nowrap;
    }

    .result-copy {
      position: relative;
      top: 1px;
    }

    .result-url  {
      color: $url-blue;
    }
  
    &.selected,
    &:hover {
      background: $url-blue;

      .result-copy {
        color: $white;
      }

      .result-url {
        color: $white;
        overflow-x: hidden;
      }

      .icon-search {
        background-position: 0 -1 * $icon-unit;
      }

      .icon-bookmark {
        background-position: -1 * $icon-unit  -1 * $icon-unit;
      }

      .icon-history {
        background-position: -2 * $icon-unit -1 * $icon-unit;
      }
    }
  }
}

.icon {
  display: block;
  flex: 0 0 $icon-unit;
  height: $icon-unit;
  margin-right: 5px;
  position: relative;
}

.icon-search,
.icon-history,
.icon-bookmark {
  background: url(../images/search-sprite@2x.png) no-repeat;
  background-size: 3 * $icon-unit 2 * $icon-unit;
}

.icon-bookmark {
  background-position: -$icon-unit 0;
  position: relative;
  top: -1px;
}

.icon-history {
  background-position: -2 * $icon-unit 0;
}

//hide the content preview for now

#content-preview {
  display: none;
}
