@import '../../node_modules/node-normalize-scss/normalize';

$title-grey: #999999;
$white: #ffffff;
$border-grey: #f0f0f0;
$black: #000000;
$url-blue: #0394dd;

$icon-unit: 16px;

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  font-size: 13px;
  font-weight: normal;
  -moz-user-select: none;
  user-select: none;
}

body {
  background: $white;
  font-family: message-box, sans-serif;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.index {

  ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .result {
    align-items: center;
    border-radius: 2px;
    cursor: pointer;
    display: flex;
    margin: 0 -4px;
    padding: 4px;

    >span[class^="result-"] {
      overflow-x: hidden;
      text-overflow: ellipsis;
      text-wrap: nowrap;
      white-space: nowrap;
    }

    .result-copy {
      position: relative;
      top: 1px;
    }

    .result-url  {
      color: $url-blue;
    }

    &:hover {
      background: $border-grey;
    }

    &.selected {
      background: $url-blue;

      .result-copy {
        color: $white;
      }

      .result-url {
        color: $white;
        overflow-x: hidden;
      }

      .icon-search-remote {
        background-position: 0 (-1 * $icon-unit);
      }

      .icon-bookmark {
        background-position: (-1 * $icon-unit) (-1 * $icon-unit);
      }

      .icon-search-local {
        background-position: (-2 * $icon-unit) (-1 * $icon-unit);
      }
    }
  }
}

.icon {
  display: block;
  flex: 0 0 $icon-unit;
  height: $icon-unit;
  margin-right: 6px;
  position: relative;
}

.icon-search-remote,
.icon-search-local,
.icon-bookmark {
  background: url(../images/search-sprite@2x.png) no-repeat;
  background-size: (3 * $icon-unit) (2 * $icon-unit);
}

.icon-bookmark {
  background-position: (-1 * $icon-unit) 0;
  position: relative;
  top: -1px;
}

.icon-search-local {
  background-position: (-2 * $icon-unit) 0;
}

//hide the content preview for now

#content-preview {
  display: none;
}

.debugger-index {
  background: #eee;
  border-bottom: 1px solid #ccc;
  overflow: auto;

  h2 {
    color: #555;
    float: left;
    font-weight: bold;
    padding: 0 10px;
    text-transform: lowercase;
  }

  form {
    margin-top: 5px;

    button {
      background: #fff;
      border: 1px solid #ccc;
      border-radius: 3px;
      padding: 4px 6px;

      &:active {
        background: #ddd;
      }
    }
  }
}
