@import '../../node_modules/node-normalize-scss/normalize';

$color--black: #000;
$color--blue: #1ba4ef;
$color--green: #18a46f;
$color--dark-grey: #666;
$color--grey: #b5b5b5;
$color--light-grey: #f5f5f5;
$color--white: #fff;
$icon--dimensions: 16px;
$preview--dimensions: 64px;
$preview--spacing: 6px;
$result--spacing: 3px;
$transition--easing: ease;
$transition--time: 66ms;


@mixin ellipsis($min-width: 0) {
  // If an item would wrap, instead prevent that wrapping, truncate the
  // content, and add a trailing ellipsis. Optionally include a min-width to
  // ensure that some portion of the content is always shown.
  min-width: $min-width;
  overflow-x: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  white-space: nowrap;
}


html {
  box-sizing: border-box;
  font-size: 13px;
  font-weight: normal;
}


*, *:before, *:after {
  box-sizing: inherit;
  -moz-user-select: none;
  user-select: none;
}


body {
  background: $color--white;
  font-family: message-box, sans-serif;
  margin: 0;
  overflow: hidden;
  padding: 5px;
}


ol {
  list-style: none;
  margin: 0 0 $result--spacing;
  padding: 0;

  &:last-child {
    margin-bottom: 0;
  }
}


.result {
  align-items: center;
  border: solid 1px transparent;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-weight: 400;
  justify-content: flex-start;
  margin: 0 0 $result--spacing;
  padding: 6px 16px;
  transition: background-color $transition--time $transition--easing,
              border-color $transition--time $transition--easing,
              color ($transition--time / 2) $transition--easing;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    background: $color--light-grey;
    border-color: darken($color--light-grey, 3%);
  }

  &.selected {
    background: $color--blue;
    border-color: darken($color--blue, 3%);
  }

  &.recommended {
    align-items: flex-start;
  }
}


.segment {
  display: none;

  .selected & {
    color: $color--white;

    &.title,
    &.action,
    &.url,
    &.recommended .segment,
    + .segment:before{
      color: $color--white;
    }
  }

  // Add an emdash between adjacent segments.
  + .segment:before {
    color: $color--grey;
    content: '\2014';
    margin: 0 5px;
  }

  &.title {
    @include ellipsis();
  }

  &.url {
    @include ellipsis(30%);
    color: $color--blue;
  }

  &.action {
    @include ellipsis();
    color: $color--green;
  }

  &.image {
    border-radius: 5px;
    box-shadow: 0 0 1px rgba($color--black, 0.25) inset;
    display: inline-block;
    line-height: 0;
    margin: 0 $preview--spacing 0 0;
    max-height: $preview--dimensions;
    overflow: hidden;
    width: $preview--dimensions;

    img {
      max-width: $preview--dimensions;
      position: relative;
      z-index: -1;
    }

    .result:hover &,
    .result.selected & {
      background: $color--white;

      img {
        z-index: 1;
      }
    }
  }

  &.recommended {
    flex-direction: column;
    position: relative;

    &:before {
      display: none;
    }

    .segment {
      display: block;
      margin: 0;

      + .segment:before {
        display: none;
      }
    }

    .title {
      color: $color--black;
      font-size: 14px;
    }

    .abstract,
    .url {
      color: $color--dark-grey;
      font-size: 13px;
      margin-top: 4px;
    }

    .url {
      color: $color--blue;
    }
  }
}


// By default, segments are hidden. Mark them to be displayed here using a
// combination of result type and segment type.
.result.other .segment.title,
.result.other .segment.url,
.result.recommended .segment.recommended,
.result.search .segment.title,
.result.switchtab .segment.action,
.result.switchtab .segment.title {
  display: block;
}


.icon {
  background-repeat: no-repeat;
  background-size: $icon--dimensions;
  display: block;
  flex: 0 0 $icon--dimensions;
  height: $icon--dimensions;
  margin-right: 6px;
  position: relative;

  &.type {
    .result.switchtab & {
      background-image: url(../images/icons/tab.svg);
    }
    .result.switchtab.selected & {
      background-image: url(../images/icons/tab-selected.svg);
    }

    .bookmark & {
      background-image: url(../images/icons/bookmark.svg);
    }
    .bookmark.selected & {
      background-image: url(../images/icons/bookmark-selected.svg);
    }

    .result.recommended & {
      background-image: url(../images/icons/recommendation.svg);
      margin-top: 2px;
    }
    .result.recommended.selected & {
      background-image: url(../images/icons/recommendation-selected.svg);
    }
  }

  &.preview {
    .search & {
      background-image: url(../images/icons/search.svg);
    }
    .search.selected & {
      background-image: url(../images/icons/search-selected.svg);
    }
  }
}


.debugger-index {
  background: $color--light-grey;
  border-bottom: 1px solid $color--grey;
  overflow: auto;

  h2 {
    color: $color--dark-grey;
    float: left;
    font-weight: bold;
    padding: 0 10px;
    text-transform: lowercase;
  }

  form {
    margin-top: 5px;

    button {
      background: $color--white;
      border: 1px solid $color--grey;
      border-radius: 3px;
      padding: 4px 6px;

      &:active {
        background: lighten($color--grey, 10%);
      }
    }
  }
}
