$title-grey: #999999;
$white: #ffffff;
$url-blue: #0095e0;

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  font-size: 14px;
  font-weight: normal;
}

body {
  font-family: message-box, sans-serif;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

#top-hits {
  margin-top: 14px;
}

.result-region {
  margin: 0 6px;
  max-width: 100%;

  .result-group-title {
    color: $title-grey;
    padding: 0 12px;
  }

  ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .result {
    align-items: center;
    border-radius: 2px;
    display: flex;
    padding: 5px 14px;
    //transition: background 75ms;

    &:hover {
      background: $url-blue;

      .result-copy {
        color: $white;
      }

      .result-url {
        color: $white;
      }
    }
  }

  .icon {
    display: block;
    flex: 0 0 16px;
    height: 16px;
    margin-right: 6px;
  }

  .search-result {
    background: url(/images/suggestion@2x.png) no-repeat;
    background-size: 16px 16px;
  }

  .bookmark {
    background: url(/images/bookmark@2x.png) no-repeat;
    background-size: 16px 16px;
  }

  .result-copy {
    display: block;
    flex: 1;
    height: 14px;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    top: 1px;
    white-space: nowrap;
  }

  .result-url  {
    color: $url-blue;
  }
}

