$title-grey: #999999;
$white: #ffffff;
$url-blue: #0394dd;

$icon-unit: 16px;

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  font-size: 14px;
  font-weight: normal;
  user-select: none
}

body {
  font-family: message-box, sans-serif;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

#top-hits {
  margin-top: 14px;
}

.result-region {
  margin: 0 6px;
  max-width: 100%;

  .result-group-title {
    color: $title-grey;
    padding: 0 12px;
  }

  ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .result {
    align-items: center;
    border-radius: 2px;
    cursor: pointer;
    display: flex;
    padding: 5px 14px;

    &:hover, &.selected {
      background: $url-blue;

      .result-copy {
        color: $white;
      }

      .result-url {
        color: $white;
      }

      .search-result {
        background-position: 0 -1 * $icon-unit;
      }

      .bookmark {
        background-position: -1 * $icon-unit  -1 * $icon-unit;
      }
    }
  }

  .icon {
    display: block;
    flex: 0 0 $icon-unit;
    height: $icon-unit;
    margin-right: 6px;

    &.default-favicon {
      background-image: url(/images/default-favicon@2x.png);
      background-repeat: no-repeat;
      background-size: 16px 16px;

      img {
        height: 16px;
        width: 16px;
        visibility: hidden;
      }
    }
  }

  .search-result,
  .bookmark {
    background: url(/images/search-sprite@2x.png) no-repeat;
    background-size: 3 * $icon-unit 2 * $icon-unit;
  }

  .search-result {
    background-position: 0 0;
  }

  .bookmark {
    background-position: -$icon-unit 0;
  }

  .result-copy {
    display: block;
    flex: 1;
    height: 14px;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    top: 1px;
    white-space: nowrap;
  }

  .result-url  {
    color: $url-blue;
  }
}
