$title-grey: #999999;
$white: #ffffff;
$url-blue: #0394dd;

$icon-unit: 16px;

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  font-size: 14px;
  font-weight: normal;
  user-select: none;
}

body {
  font-family: message-box, sans-serif;
  margin: 0;
  padding: 0;
}

#content-wrapper {
  display: flex;
  height: 100%;
  justify-content: space-around;
  overflow: hidden;
  position: absolute;
  width: 100%;

  #list-column {
    flex: 1 1 0;
    min-width: 0px;
  }

  #content-preview {
    padding-bottom: 10px;
    height: 100%;
    border-left: 1px solid #eee;
    flex: 0 0 300px;
    overflow: hidden;
  }
}

#top-hits {
  margin-top: 14px;
}

span[class^=result] {
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}

.result-region  {
  margin: 0 6px;
  display: block;
  overflow: hidden;
  position: relative;
  top: 1px;

  .result-group-title {
    color: $title-grey;
    padding: 0 12px;
  }

  ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .result {
    align-items: center;
    border-radius: 2px;
    cursor: pointer;
    display: flex;
    padding: 5px 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;


    &.selected {
      background: $url-blue;

      .result-copy {
        color: $white;
      }

      .result-url {
        color: $white;
      }

      .search-result {
        background-position: 0 -1 * $icon-unit;
      }

      .bookmark {
        background-position: -1 * $icon-unit  -1 * $icon-unit;
      }
    }
  }

  .icon {
    display: block;
    flex: 0 0 $icon-unit;
    height: $icon-unit;
    margin-right: 6px;
  }

  .search-result,
  .bookmark {
    background: url(/images/search-sprite@2x.png) no-repeat;
    background-size: 3 * $icon-unit 2 * $icon-unit;
  }

  .search-result {
    background-position: 0 0 100%;
  }

  .bookmark {
    background-position: -$icon-unit 0;
  }

  .result-copy {
    display: block;
    flex: 1;
    height: 14px;
    top: 1px;
  }

  .result-url  {
    color: $url-blue;
  }
}

#content-preview {
  background: #fff;
  border-left: 1px solid #eee;
  padding: 10px;

  header {
    position: relative;
    overflow: hidden;

    .provider {
      background: #fff;
      opacity: 0.9;
      padding: 5px 10px;
      position: absolute;
      width: 100%;

      h2 {
        display: inline-block;
        font-size: 14px;
        margin: 0;
      }

      .favicon {
        vertical-align: -3px;
      }
    }

    .preview-image {
      width: 100%;
    }
  }

  h3 {
    font-size: 18px;
    font-weight: bold;
  }

  .description {
    font-size: 14px;
    line-height: 1.5em;
  }
}
